body{
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
    h1{
        text-align: left;
        color: white;
        font-size: 30px;
    }
.a{
    text-align: right;
    font-family:sans-serif;

}
.q{text-align: center;
    color:white;
    font-size: 90px;
    vertical-align: middle;

}
.pe{
    font-size:30px;
    vertical-align:middle;
}
a{
    margin-right:20px;
    text-decoration-line: none;
    color:white
}
.w{
    position: absolute;
    top: -15px;
    left: 3px;
}
